// ----- VARIABLES -----
$primary-color: #012a4a;
$secondary-color: #ffd500;
$background-color: #e8f1f2;
$whiteColor: #fcfcfc;
$padding: 3em 2em;
$paddingSection: 5em;
$border-radius: 15px;
$gap: 2em;